<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Useer</H1>
    <a href="{% url 'reporter_registration' %}">
    <button type="button">Go to Admin Page</button>
</a>
   <a href="{% url 'reporter_admin_dashboard' %}">
    <button type="button">Go to reposter admin</button>
</a>
    <a href="{% url 'reporter_login' %}">Go back to login</a>
</a>

</body>
</html>